body
{
    font-family: "helvetica";
    background-color: #e1e1e1;
    position: relative;
    margin: 0;
    padding: 0;
}

/*header navbar */

header
{
    top: 0;
    width: 100%;

}

header ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header ul li
{
    float: left;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*post_container*/

.post_container
{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    margin: 10px;
    position:relative;
}

.post_container:before
{
    content: "";
    position: absolute;
    right: 0px;
    border-color: #FFF #e1e1e1 white #FFF;
    border-style: solid;
    border-width: 0px 30px 30px 0px;
    height: 0px;
    width: 0px;
    display: block;
    box-shadow: -3pt 2px 1px rgba(0, 0, 0, 0.2), -2px 1px 1px rgba(0, 0, 0, 0.1);
}


.post_container .header
{
    border-radius : 4px 0px 0px 0px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #6a6a6a;
}

.post_container .title
{
    margin: auto;
    margin-left:20px;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:10px;
    display: block;
    width: 80%;
}

.post_container .date_creation
{
    margin: auto;
    margin-left:20px;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:10px;
    display: block;
    width: 20%;
}

.post_container .far
{
    padding-right:10px;
}

.post_container .content
{
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top:10px;
    display: block;
}

.post_container .comment
{
    margin: auto;
    padding-left: 20px;
    padding-top:10px;
    display: block;
    margin-left: 20px;
    padding-bottom:10px;
}

/* navigation */

.page_navigation
{
    margin: auto;
}

.page_navigation a
{
    justify-content: space-around;
}

/*comment*/
.comments
{
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.comments .comments_header
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#b3e5fc;
}

.comments_header .author
{
    width: 80%;
    margin:auto;
}

.comments_header .date
{
    width: 20%;
    margin:auto;
}

.comments_content
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e1f5fe;
}

.comments_content p
{
    margin: auto;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 90%;
}

.comments_content form
{
    width:10%;
}

.comments_content input[type="submit"]
{
    text-decoration: none;
    cursor: pointer;
    border:none;
    background-color:#ef9a9a;
}

/*comment form*/

.comment_form
{
    padding-top: 10px;
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.comment_form textarea
{
    width: 100%;
}

h3
{

font-size:0.9em;
margin-bottom:0px;
}
.news p
{
margin-top:0px;
}

.news
{
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: column;
}

a
{
text-decoration: none;
color: blue;
}


