body
{
    font-family: "helvetica";
    position: relative;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

/*header navbar */

header
{
    top: 0;
    width: 100%;
}

header ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header ul li
{
    float: left;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*post_container*/

.post_container
{
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    margin-top: 10px;
    position:relative;
}

.post_container .header
{
    border-radius : 4px 0px 0px 0px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #6a6a6a;
    font-weight: bold;
}

.post_container .title
{
    margin: auto;
    margin-left:20px;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:10px;
    display: block;
    width: 70%;
}

.post_container .date_creation
{
    margin: auto;
    margin-left:20px;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom:10px;
    display: block;
    width: 30%;
}

.post_container .far
{
    padding-right:10px;
}

.post_container .content
{
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top:10px;
    display: block;
}

.post_container .comment
{
    margin: auto;
    padding-left: 20px;
    padding-top:10px;
    display: block;
    margin-left: 20px;
    padding-bottom:10px;
}

/* navigation */

.page_navigation
{
    margin: auto;
    margin-top:10px;
}

.page_navigation a
{
    justify-content: space-around;
}

/*comment*/
.comments
{
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.comments .comments_head
{
    background-color: #526BAD;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius:4px 4px 0px 0px;
    border-bottom: 3px solid #b3e5fc;
}

.comments .comments_head span .fa
{
    padding-right: 10px;
}

.comments .comments_head span
{
    margin-left: 20px;
    padding-left: 20px;
}
.comments .comments_header
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#b3e5fc;
}

.comments_header .author
{
    width: 70%;
    margin:auto;
    margin-left: 20px;
    padding-left: 20px;
}

.comments_header .date
{
    width: 30%;
    margin:auto;
    margin-left: 20px;
    padding-left: 20px;
}

.comments .far {
    padding-right: 10px;
}

.comments_content
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e1f5fe;
    position: relative;
}

.comments_content p
{
    margin: auto;
    margin-left: 20px;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    width: 90%;
}

.comments_content form
{
    position: absolute;
    bottom:0px;
    right:0px;
}

.comments_content input[value="Commentaire signalé"], input[value="!"]
{
    text-decoration: none;
    cursor: pointer;
    border:none;
    background-color: #e1f5fe;
}

.comments_content input[value="Commentaire signalé"]:hover,  input[value="!"]:hover
{
    background-color:#ef9a9a;
}


/*comment form*/
.comment_form input
{
    border-radius : 4px 4px 4px 4px;
    border-style:solid;
    border-color:black;
    border-width: 1px;
}

.comment_form
{
    padding-top: 10px;
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.comment_form textarea
{
    width: 100%;
    border-radius : 4px 4px 4px 4px;
    border-style:solid;
    border-color:black;
    border-width: 1px;
    height:80px;
}

/* admin */

.admin_page
{
    width:30%;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.admin
{
    width:100%;
    margin-top:10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    display:flex;
    flex-direction: column;
}

.admin p
{
    text-align: center;
    margin-right:10px;
    margin-left:10px;
}

.admin p span
{
    text-align: center;
    margin-right:10px;
    margin-left:10px;
    color :red;
}


.admin .form
{
    width: 70%;
    margin: 10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    background-color: #f2f2f2;
    border-color:#f2f2f2;
    font-size: 16px;
    color:grey;
}

[   value="LOGIN"]
{
    background-color: #4CAF50;
    border-width: 1px;
    border-color: #4CAF50;
    border-style: solid;
    color: white;
    padding: 0px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 70%;
    height:40px;
}

/* edition */

.edit_page
{
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.edit
{
    width:100%;
    margin-top:10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    display:flex;
    flex-direction: column;
}

.edit p
{
    text-align: center;
}

[name="titlepost"], [name="titlePostEdit"]
{
    width: 40%;
    margin: 10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    background-color: #f2f2f2;
    border-color:#f2f2f2;
    font-size: 16px;
    color:black;
}

[value="Envoyer"]
{
    background-color: #4CAF50;
    border-width: 0px;
    border-color: #4CAF50;
    border-style: solid;
    color: white;
    padding: 0px;
    margin-top:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height:40px;
}

/*global*/

.global_page
{
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: column;
}
.global
{
    width:100%;
    margin-top:10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.75);
    display:flex;
    flex-direction: column;
}

.global p
{
    text-align: left;
    margin: 0;
    padding: 0;
}

h3
{

font-size:0.9em;
margin-bottom:0px;
}
.news p
{
margin-top:0px;
}

.news
{
    width:70%;
    margin:auto;
    display: flex;
    flex-direction: column;
}

a
{
text-decoration: none;
color: blue;
}

/* mobile */

@media (max-width: 670px)
{
    body {
        background-color: lightblue;
    }

    .post_container .far {
        padding-right: 20px;
    }

    .post_container .header
    {
        font-size: 15px;
    }

    .post_container .title
    {
        padding-left: 0px;
        width:50%;
    }

    .post_container .content
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .news
    {
        width:90%;
        margin:auto;
        display: flex;
        flex-direction: column;
    }

    .comments .comments_head span
    {
        padding-left:0px;
    }
    .comments
    {
        width:90%;
    }
    .comments_header .author
    {
        width:50%;
        padding-left: 0px;
    }

    .comments_header .date
    {
        width:50%;
        padding-left: 0px;
    }

    .admin_page
    {
        width:80%;
        margin:auto;
        display: flex;
        flex-direction: column;
    }

}
